tr {
    border: 2px  solid brown;
}

thead tr th {
    border: 1px solid black;
}

#myTable {
    margin-top: 40px;
    width: 100%;
}

table {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

tbody tr td{
    border: 1px solid black;
}

.submit-btn {
    text-align: center;
}